* {
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 100px;
    padding-bottom: 20px;
    display: flex;
}

h1 {
    text-align: right;
    margin-bottom: 100px;
    letter-spacing: -1px;
    font-size: 2.5em;
    text-shadow: 0 -1px black;
}

h2 {
    margin: 20px 0;
}

h3 {
    text-decoration: underline;
    font-size: 1.5em;
    margin-bottom: 20px;
    margin-left: 50px;
}

nav {
    font-family: 'Lato', sans-serif;
    flex-grow: 1;

}
nav .sticky {
    position: sticky;
    margin-top: 50px;
    top: 50px;
}
nav ul {
    list-style-type: none;
}
nav li {
    font-size: 1em;
    padding: 10px 30px;
    position: relative;
    margin-left: 20px;
}

/* Fancy design for the menu items */
nav li:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
nav a {
    text-decoration: none;
    color: black;
}
nav li:hover {
    background-color: lightcoral;
}

main {
    font-family: 'Arapey', serif;
    flex-basis: 60%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .3);
    padding: 20px 40px;
    z-index: 1;
}
p {
    font-size: 1em;
    line-height: 1.5;
}